.dropdown-menu {

    padding: 1px;
    border:  2px solid rgba(142, 12, 175, 0.658);
}
.banner{
    background-image: url('https://scontent.fdvo5-1.fna.fbcdn.net/v/t39.30808-6/468400366_960859849396979_6564059719683716297_n.jpg?stp=dst-jpg_s960x960&_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_eui2=AeFibbLr-wW_sUrttoRl2oz7jtU05puJ3DeO1TTmm4ncNyVBsJn5cFfzPs-cLrUUbNdf7pbhic-KaaJ2q3mIhuHG&_nc_ohc=o2g4Qis-MtgQ7kNvgF8XlVu&_nc_zt=23&_nc_ht=scontent.fdvo5-1.fna&_nc_gid=APBkOt2TJw3ooGfs7-hfrf0&oh=00_AYCxfVPspYeTuZpC0pcCpRTiKsMyBRJeFbQF12xjWrOkRg&oe=674FC540');
    background-size: 100% 350px;
    /* Ensures the image covers the header */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents tiling */
    color: white;
    /* Makes the text readable */
    text-align: center;
    /* Centers text horizontally */
    padding: 20px;
    /* Adds spacing around the text */
    height: 400px;
    /* Sets the exact height of the header */
    display: flex;
    /* Enables flexbox layout */
    flex-direction: column;
    /* Stacks content vertically */
    justify-content: center;
    /* Centers content vertically */
    align-items: center;
    /* Centers content horizontally */
}
